<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shs.mybatis.SHSMapper.xml">
     <!--(13)MemberDAO의 memInsert()메서드에서 보내준 mDto값을 바인딩 변수로 채우고 SQL문을 실행.
          SQL문을 실행(DB가서 동작하라)  -->
  	<insert id="memInsert">
	  	INSERT INTO shsmember(sid, sname, sage, smajor, sphone)
		VALUES(seq_shsmember_sid.NEXTVAL, #{sname}, #{sage}, #{smajor}, #{sphone})
  	</insert>
  	
 <!--  resultType 은 결과값을 반환하는 타입 실제 패키지 경로를 모두 작성해야 한다. 
  ex: com.shs.dto.MemberDTO 그러나 Configureation.xml파일에 TypeAlias(별명)을 사용하면
  MemberDTO처럼 간단하게 입력가능!! -->
  <select id="memSelect" resultType="com.shs.dto.MemberDTO"> 
	  SELECT * FROM shsmember   
	  ORDER BY sid
  </select>
  
  <select id="memInfo" parameterType="int" resultType="com.shs.dto.MemberDTO">
	  SELECT * FROM shsmember
	  WHERE sid = #{id}
  </select>
  
  <update id="memUpdate" parameterType="com.shs.dto.MemberDTO">
	  UPDATE shsmember	
	  	  SET sname = #{sname},
	  	  	  sage = #{sage},
	  	  	  smajor = #{smajor},
	  	  	  sphone = #{sphone}
	  WHERE sid = #{sid}	  	  		
  </update>
  <delete id="memDelete" parameterType="int">
	  DELETE FROM shsmember
	  WHERE sid = #{id}
  </delete>
  <select id="memSearch" parameterType="String"  resultType="MemberDTO">
      <![CDATA[
  	  SELECT * FROM shsmember
	  WHERE sname LIKE '%'||#{name}||'%' 
	  ]]>
  </select>
</mapper>